/* Main */

/* Apply border-box sizing to all elements */
* {
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'Kumbh Sans', sans-serif; /* Set the font family for all elements */
}


/* Navbar */

/* Style the navbar */
.navbar {
    background: #131313; /* Set background color */
    height: 80px; /* Set height */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space evenly between items */
    padding: 10px 20px; /* Set padding */
    color: #fff; /* Set text color */
    align-items: center; /* Center items vertically */
    font-size: 20px; /* Set font size */
    position: sticky; /* Stick to the top of the viewport when scrolling */
    top: 0; /* Align to the top */
    z-index: 999; /* Set z-index for stacking order */
}

/* Style the logo container */
.logo-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
}

/* Style the navbar container */
.navbar__container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space evenly between items */
    height: 80px; /* Set height */
    width: 100%; /* Set width */
    max-width: flex; /* Set maximum width */
    margin: 0 auto; /* Center horizontally */
    padding: 0 50px; /* Set padding */
}

/* Style the navbar logo */
#navbar__logo {
    background-color: #000000; /* Set background color */
    background-image: linear-gradient(to top, #b0b0b0 0%, #313131 100%); /* Apply gradient background */
    background-size: 100%; /* Set background size */
    -webkit-background-clip: text; /* Clip text to background */
    -moz-background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: transparent; /* Set text fill color to transparent */
    -moz-text-fill-color: transparent; /* Set text fill color to transparent */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    cursor: pointer; /* Set cursor style */
    text-decoration: none; /* Remove default text decoration */
    font-size: 2rem; /* Set font size */
    margin-left: 10px; /* Set left margin */
}

/* Style the navbar menu */
.navbar__menu {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    list-style: none; /* Remove default list style */
    text-align: center; /* Center text */
}

/* Style the navbar item */
.navbar__item {
    height: 80px; /* Set height */
}

/* Style the navbar links */
.navbar__links {
    color: #fff; /* Set text color */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-decoration: none; /* Remove default text decoration */
    padding: 0 1rem; /* Set padding */
    height: 100%; /* Set height */
}

/* Style the general button */
.button {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-decoration: none; /* Remove default text decoration */
    padding: 10px 20px; /* Set padding */
    height: 100%; /* Set height */
    width: 100%; /* Set width */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    border-radius: 4px; /* Set border radius */
    background: #313131; /* Set background color */
    color: #b0b0b0; /* Set text color */
    cursor: pointer;
}

/* Style the button hover state */
.button:hover {
    background: #515151; /* Change background color on hover */
    transition: all 0.3s ease; /* Smooth transition */
}

/* Style the navbar links hover state */
.navbar__links:hover {
    color: #b0b0b0; /* Change text color on hover */
    transition: all 0.3s ease; /* Smooth transition */
}


/* Main Content */

/* Style the main content */
.main {
    background-attachment: #141414; /* Set background attachment */
}

/* Style the main content container */
.main__container {
    display: grid; /* Use CSS grid for layout */
    grid-template-columns: 1fr 1fr; /* Set grid template columns */
    align-items: center; /* Center items vertically */
    justify-self: center; /* Justify self in the center */
    margin: 0 auto; /* Center horizontally */
    height: 90vh; /* Set height */
    background-color: #141414; /* Set background color */
    z-index: 1; /* Set z-index */
    width: 100%; /* Set width */
    padding: 0 50px; /* Set padding */
}

/* Style the main content heading */
.main__content h1 {
    padding-top: 1.5rem; /* Set top padding */
    font-size: 3rem; /* Set font size */
    background-color: #000000; /* Set background color */
    background-image: linear-gradient(to top, #313131 0%, #b0b0b0 100%); /* Apply gradient background */
    background-size: 100%; /* Set background size */
    -webkit-background-clip: text; /* Clip text to background */
    -moz-background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: transparent; /* Set text fill color to transparent */
    -moz-text-fill-color: transparent; /* Set text fill color to transparent */
    padding-bottom: 2rem; /* Set bottom padding */
}

/* Style the main content subheading */
.main__content h2 {
    font-size: 2rem; /* Set font size */
    background-color: #ff8177; /* Set background color */
    background-image: linear-gradient(to top, #808080 0%, #ffffff 100%); /* Apply gradient background */
    background-size: 100%; /* Set background size */
    -webkit-background-clip: text; /* Clip text to background */
    -moz-background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: transparent; /* Set text fill color to transparent */
    -moz-text-fill-color: transparent; /* Set text fill color to transparent */
    padding-bottom: 1.5rem; /* Set bottom padding */
}

/* Style the main content paragraph */
.main__content p {
    margin-top: 1rem; /* Set top margin */
    font-size: 1.5rem; /* Set font size */
    font-weight: 600; /* Set font weight */
    color: #fff; /* Set text color */
    padding-right: 1.5rem; /* Set right padding */
    padding-bottom: 1.5rem; /* Set bottom padding */
}

/* Style the main content button */
.main__btn {
    font-size: 1rem; /* Set font size */
    background-image: linear-gradient(to top, #313131 0%, #b0b0b0 100%); /* Apply gradient background */
    padding: 14px 32px; /* Set padding */
    border: none; /* Remove border */
    border-radius: 4px; /* Set border radius */
    color: #b0b0b0; /* Set text color */
    margin-top: 2rem; /* Set top margin */
    cursor: pointer; /* Set cursor style */
    position: relative; /* Set position */
    transition: all 0.35s; /* Smooth transition */
    outline: none; /* Remove outline */
}

/* Style the main content button link */
.main__btn a {
    position: relative; /* Set position */
    z-index: 2; /* Set z-index */
    color: #fff; /* Set text color */
    text-decoration: none; /* Remove default text decoration */
}

/* Style the main content button after pseudo-element */
.main__btn:after {
    position: absolute; /* Set position */
    content: ''; /* Add content */
    top: 0; /* Set top position */
    left: 0; /* Set left position */
    width: 0; /* Set width */
    height: 100%; /* Set height */
    background-color: #515151; /* Set background color */
    transition: all 0.35s; /* Smooth transition */
    border-radius: 4px; /* Set border radius */
}

/* Style the main content button hover state */
.main__btn:hover {
    color: #515151; /* Change text color on hover */
}

/* Style the main content button hover state after pseudo-element */
.main__btn:hover:after {
    width: 100%; /* Set width to 100% on hover */
}

/* Style the main content image container */
.main__img--container {
    width: 100%; /* Set width */
    height: 700px; /* Set height */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Set position */
}

/* Style the logo image */
#logo_img {
    height: 50px; /* Set height */
    width: auto; /* Set width to auto */
}

/* Style the main image */
#main__img {
    width: auto; /* Set width to auto */
    height: 100%; /* Set height to 100% */
    position: absolute; /* Set position */
    left: 50%; /* Set left position */
    transform: translateX(-50%); /* Translate horizontally */
}


/* Recommendation Content */

/* Style the recommendation section */
.recommendation {
    padding-top: 5rem; /* Set top padding */
    background: #141414; /* Set background color */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Set flex direction */
    align-items: center; /* Center items horizontally */
    height: 75vh; /* Set height */
}

/* Style the recommendation heading */
.recommendation h1 {
    background-color: #313131; /* Set background color */
    background-image: linear-gradient(to right, #b0b0b0 0%, #313131 0%, 
    #b0b0b0 21%, #515151 52%, #313131 78%, #b0b0b0 100%); /* Apply gradient background */
    background-size: 100%; /* Set background size */
    margin-bottom: 2rem; /* Set bottom margin */
    font-size: 2.5rem; /* Set font size */
    -webkit-background-clip: text; /* Clip text to background */
    -moz-background-clip: text; /* Clip text to background */
    -webkit-text-fill-color: transparent; /* Set text fill color to transparent */
    -moz-text-fill-color: transparent; /* Set text fill color to transparent */
}

/* Style the recommendation container */
.recommendation__container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
    flex-wrap: wrap; /* Wrap items */
}

/* Style the recommendation card */
.recommendation__card {
    margin: 1rem; /* Set margin */
    height: 400px; /* Set height */
    width: 400px; /* Set width */
    border-radius: 4px; /* Set border radius */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic2.jpg'); /* Apply gradient background */
    background-size: cover; /* Set background size */
    background-position: center; /* Center background */
    background-repeat: no-repeat; /* Disable background repeat */
    position: relative; /* Set position */
    color: #fff; /* Set text color */
}

/* Style the second recommendation card */
.recommendation__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic4.jpg'); /* Apply gradient background */
}

/* Style the third recommendation card */
.recommendation__card:nth-child(3) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic5.jpg'); /* Apply gradient background */
}

/* Style the recommendation card heading */
.recommendation h2 {
    position: absolute; /* Set position */
    top: 250px; /* Set top position */
    left: 15px; /* Set left position */
}

/* Style the recommendation card paragraph */
.recommendation__card p {
    position: absolute; /* Set position */
    top: 290px; /* Set top position */
    left: 15px; /* Set left position */
}

/* Style the recommendation card button */
.recommendation__card button {
    color: #fff; /* Set text color */
    padding: 10px 20px; /* Set padding */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    border-radius: 4px; /* Set border radius */
    background: #313131; /* Set background color */
    position: absolute; /* Set position */
    top: 330px; /* Set top position */
    left: 15px; /* Set left position */
    cursor: pointer; /* Set cursor style */
}

/* Style the recommendation card hover state */
.recommendation__card:hover {
    transform: scale(1.075); /* Scale on hover */
    transition: 0.2s ease-in; /* Smooth transition */
    cursor: pointer; /* Set cursor style */
}


/* Footer */

/* Style the footer container */
.footer__container {
    background-color: #141414; /* Set background color */
    padding: 5rem 0; /* Set padding */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Set flex direction */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
}

/* Style the footer links */
.footer__links {
    width: 100%; /* Set width */
    max-width: 1000px; /* Set maximum width */
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items horizontally */
}

/* Style the footer link wrapper */
.footer__link--wrapper {
    display: flex; /* Use flexbox for layout */
}

/* Style the footer link items */
.footer__link--items {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Set flex direction */
    align-items: flex-start; /* Align items to the start */
    margin: 16px; /* Set margin */
    text-align: left; /* Align text to the left */
    width: 160px; /* Set width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Style the footer link items heading */
.footer__link--items h2 {
    margin-bottom: 16px; /* Set bottom margin */
}

/* Style the footer link items heading text color */
.footer__link--items > h2 {
    color: #fff; /* Set text color */
}

/* Style the footer link items links */
.footer__link--items a {
    color: #b0b0b0; /* Set text color */
    text-decoration: none; /* Remove default text decoration */
    margin-bottom: 0.5rem; /* Set bottom margin */
}

/* Style the footer link items hover state */
.footer__link--items a:hover {
    color: #b0b0b0; /* Change text color on hover */
    transition: 0.3s ease-out; /* Smooth transition */
}

/* Style the social media icon link */
.social__icon--link {
    color: #b0b0b0; /* Set text color */
    font-size: 24px; /* Set font size */
}

/* Style the social media section */
.social__media {
    max-width: 1000px; /* Set maximum width */
    width: 100%; /* Set width */
}

/* Style the social media wrapper */
.social__media--wrap {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    width: 90%; /* Set width */
    max-width: 1000px; /* Set maximum width */
    margin: 40px auto 0 auto; /* Set margin */
}

/* Style the social media logo */
.social__logo {
    color: #b0b0b0; /* Set text color */
    justify-self: flex-start; /* Align to the start */
    margin-left: 20px; /* Set left margin */
    cursor: pointer; /* Set cursor style */
    text-decoration: none; /* Remove default text decoration */
    font-size: 2rem; /* Set font size */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 16px; /* Set bottom margin */
}


/* Spotify Album Redirect Button */

/* Style the album button */
.album_btn {
    color: #b0b0b0; /* Set text color */
    padding: 10px 20px; /* Set padding */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    border-radius: 4px; /* Set border radius */
    background: #313131; /* Set background color */
    cursor: pointer; /* Set cursor style */
}

/* Style the album button hover state */
.album_btn:hover {
    background: #515151; /* Change background color on hover */
    transition: all 0.3s ease; /* Smooth transition */
}


/* JavaScript CSS */

/* Album Popup */

/* Style the popup container */
.popup {
    position: fixed; /* Set position */
    bottom: 20px; /* Set bottom position */
    left: 20px; /* Set left position */
    background-color: #313131; /* Set background color */
    padding: 20px; /* Set padding */
    border-radius: 8px; /* Set border radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply box shadow */
    color: #b0b0b0;
}

/* Style the popup content */
.popup-content img {
    width: 50px; /* Adjust size as needed */
    margin: 0 10px; /* Add space between logos */
}

/* Style the close button */
.close {
    position: absolute; /* Set position */
    color: #fff; /* Set text color */
    top: 5px; /* Set top position */
    right: 5px; /* Set right position */
    padding-right: 2px; /* Set right padding */
    cursor: pointer; /* Set cursor style */
}

/* Socials Popup */

/* Styling for the socials popup */
.socials_popup {
    position: fixed; /* Position the popup relative to the viewport */
    top: 50%; /* Position the top edge of the popup at the vertical center of the viewport */
    left: 50%; /* Position the left edge of the popup at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the popup horizontally and vertically */
    background-color: #313131; /* Background color of the popup */
    padding: 20px; /* Padding inside the popup */
    border-radius: 8px; /* Rounded corners for the popup */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle effect */
    z-index: 9999; /* Ensure popup appears on top of other content */
    color: #b0b0b0; /* Text color of the popup */
}

/* Styling for the content within the socials popup */
.socials_popup-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items along the cross axis */
}

/* Styling for the heading text within the socials popup */
.socials_heading {
    text-align: center; /* Center align the text */
    padding-bottom: 10px; /* Add padding bottom */
    display: block; /* Ensure it takes up full width */
}

/* Styling for the close button within the socials popup */
.socials_close {
    position: absolute; /* Position the close button */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    font-size: 24px; /* Font size of the close button */
    cursor: pointer; /* Cursor style */
}

/* Styling for the logos within the socials popup */
.socials_popup-content img {
    width: 100px; /* Adjust size as needed */
    margin: 0 10px; /* Add space between logos */
}

/* Styling for Spotify link */
.social-link:nth-child(2) a,
.social-link:nth-child(2) a:hover {
    text-decoration: none; /* Remove underline from links */
    text-align: center; /* Center content horizontally */
    color: #1ED760; /* Change color to Spotify green */
}

/* Styling for YouTube link */
.social-link:nth-child(3) a,
.social-link:nth-child(3) a:hover {
    text-decoration: none; /* Remove underline from links */
    text-align: center; /* Center content horizontally */
    color: #FF0000; /* Change color to YouTube red */
}

/* Additional styling for YouTube logo */
.social-link:nth-child(3) img {
    padding-top: 17.5px; /* Add padding above the YouTube logo */
    padding-bottom: 7.5px; /* Add padding below the YouTube logo */
}

/* Additional styling for YouTube text */
.social-link:nth-child(3) p {
    padding-top: 5px; /* Add padding above the YouTube text */
}


/* CSS Media Queries */

@media only screen and (max-width: 600px) {
    /* CSS styles specific to screens smaller than 600px */
    /* Adjustments for smaller screens */

    /* Navbar */
    .navbar {
      font-size: 15px; /* Adjust font size for navbar */
    }
    .navbar__container {
        height: 80px; /* Set height */
        padding: 0 15px; /* Set padding */
    }
    #navbar__logo {
        margin-left: 2.5px; /* Set left margin */
    }
    .navbar__links {
        padding: 0 0.5rem; /* Set padding */
        height: 100%; /* Set height */
    }
    .button {
        padding: 5px 5px; /* Set padding */
        width: 100%;
    }

    /* Main Content */
    .main__container {
        display: grid; /* Use CSS grid for layout */
        grid-template-columns: 1fr; /* Set grid template columns */
        height: 95vh; /* Set height */
        padding: 0 25px; /* Set padding */
    }
    .main__content h1 {
        padding-top: 0.5rem; /* Set top padding */
        font-size: 2rem; /* Set font size */
        padding-bottom: 1rem; /* Set bottom padding */
    }
    .main__content h2 {
        font-size: 1.5rem; /* Set font size */
        padding-bottom: 0.75rem; /* Set bottom padding */
    }
    .main__content p {
        margin-top: 0.5rem; /* Set top margin */
        text-align: justify; /* Set text alignment */
        font-size: 1rem; /* Set font size */
        font-weight: 500; /* Set font weight */
        padding-right: 1rem; /* Set right padding */
        padding-bottom: 1rem; /* Set bottom padding */
    }
    .main__btn {
        font-size: 1rem; /* Set font size */
        padding: 5px 7.5px; /* Set padding */
        margin-top: 0.25rem; /* Set top margin */
    }
    .main__img--container {
        width: 85%; /* Set width */
        height: 250px; /* Set height */
        overflow: hidden; /* Hide overflow */
        position: absolute; /* Set position */
        top: 900px; /* Moves the element 10 pixels down */
    }
    
    /* Recommendation Content */
    .recommendation {
        padding-top: 25rem; /* Set top padding */
        height: 190vh; /* Set height */
    }
    .recommendation h1 {
        margin-bottom: 0.5rem; /* Set bottom margin */
        font-size: 1.5rem; /* Set font size */
    }
    .recommendation__card {
        margin: 1rem; /* Set margin */
        height: 300px; /* Set height */
        width: 300px; /* Set width */
    }
    .recommendation h2 {
        top: 200px; /* Set top position */
        left: 15px; /* Set left position */
    }
    .recommendation__card p {
        position: absolute; /* Set position */
        top: 230px; /* Set top position */
        left: 15px; /* Set left position */
    }
    .recommendation__card button {
        padding: 10px 20px; /* Set padding */
        top: 250px; /* Set top position */
        left: 15px; /* Set left position */
    }

    /* Footer */
    .footer__link--items {
        margin: 10px; /* Set margin */
        width: 150px; /* Set width */
    }
  }


@media only screen and (min-width: 601px) and (max-width: 1000px) {
    /* CSS styles specific to screens large than 601px and smaller than 1000px */
    /* Adjustments for middle screens */

    /* Navbar */
    .navbar {
      font-size: 20px; /* Adjust font size for navbar */
    }
    .navbar__container {
        height: 80px; /* Set height */
        padding: 0 50px; /* Set padding */
    }
    #navbar__logo {
        margin-left: 30px; /* Set left margin */
    }
    .navbar__links {
        padding: 1.5 1.5rem; /* Set padding */
        height: 100%; /* Set height */
    }
    .button {
        padding: 10px 10px; /* Set padding */
        width: 100%;
    }

    /* Main Content */
    .main__container {
        display: grid; /* Use CSS grid for layout */
        grid-template-columns: 1fr; /* Set grid template columns */
        height: 50vh; /* Set height */
        padding: 0 20px; /* Set padding */
    }
    .main__content h1 {
        padding-top: 0.5rem; /* Set top padding */
        font-size: 2.5rem; /* Set font size */
        padding-bottom: 1rem; /* Set bottom padding */
    }
    .main__content h2 {
        font-size: 2rem; /* Set font size */
        padding-bottom: 0.75rem; /* Set bottom padding */
    }
    .main__content p {
        margin-top: 1rem; /* Set top margin */
        text-align: justify; /* Set text alignment */
        font-size: 1rem; /* Set font size */
        font-weight: 550; /* Set font weight */
        padding-right: 1rem; /* Set right padding */
        padding-bottom: 1rem; /* Set bottom padding */
    }
    .main__btn {
        font-size: 1.25rem; /* Set font size */
        padding: 10px 15px; /* Set padding */
        margin-top: 1rem; /* Set top margin */
    }
    .main__img--container {
        width: 85%; /* Set width */
        height: 250px; /* Set height */
        overflow: hidden; /* Hide overflow */
        position: absolute; /* Set position */
        top: 700px; /* Moves the element 10 pixels down */
    }
    
    /* Recommendation Content */
    .recommendation {
        padding-top: 25rem; /* Set top padding */
        height: 110vh; /* Set height */
    }
    .recommendation h1 {
        margin-bottom: 0.5rem; /* Set bottom margin */
        font-size: 1.5rem; /* Set font size */
    }
    .recommendation__card {
        margin: 1rem; /* Set margin */
        height: 300px; /* Set height */
        width: 300px; /* Set width */
    }
    .recommendation h2 {
        top: 200px; /* Set top position */
        left: 15px; /* Set left position */
    }
    .recommendation__card p {
        position: absolute; /* Set position */
        top: 230px; /* Set top position */
        left: 15px; /* Set left position */
    }
    .recommendation__card button {
        padding: 10px 20px; /* Set padding */
        top: 250px; /* Set top position */
        left: 15px; /* Set left position */
    }

    /* Footer */
    .footer__link--items {
        margin: 10px; /* Set margin */
        width: 150px; /* Set width */
    }
  }

@media only screen and (min-width: 1001px) and (max-width: 1250px) {
    /* CSS styles specific to screens larger than 1001px and smaller than 1250px */
    /* Adjustments for larger screens */

    /* Main Content */
    .main__container {
        height: 100vh; /* Set height */
        z-index: 1; /* Set z-index */
    }
    .main__content p {
        margin-top: 0.5rem; /* Set top margin */
        text-align: justify; /* Set text alignment */
        font-size: 1.25rem; /* Set font size */
        font-weight: 550; /* Set font weight */
        padding-right: 1rem; /* Set right padding */
        padding-bottom: 1rem; /* Set bottom padding */
    }
    .main__img--container {
        width: 100%; /* Set width */
        height: 400px; /* Set height */
    }
    
    /* Recommendation Content */
    .recommendation {
        padding-top: 25rem; /* Set top padding */
        height: 225vh; /* Set height */
    }
  }


@media only screen and (min-width: 1251px) and (max-width: 1550px) {
    /* CSS styles specific to screens larger than 1251px and smaller than 1550px */
    /* Adjustments for larger screens */

    /* Main Content */
    .main__container {
        height: 85vh; /* Set height */
        z-index: 1; /* Set z-index */
    }
    .main__img--container {
        width: 100%; /* Set width */
        height: 400px; /* Set height */
    }
    
    /* Recommendation Content */
    .recommendation {
        padding-top: 25rem; /* Set top padding */
        height: 120vh; /* Set height */
    }
  }